.color1 {
    color: white;
}
.color1:hover {
    border-bottom: 3px dotted #ffffff;
    transition: 0.6s ease;
    color: maroon;
    text-decoration: none;
}
#navbar {
    background-color: black;
}
#socials {
    background-color: rgb(42, 43, 45);
}
.media_link {
    padding-left: 20px ;
    width: 75px;
    margin-left: 2rem;
    border: 4px groove royalblue;
    border-radius: 1rem;
}